body {
color: #eacece;
background-color: #b11e1e;
}

.jumbotron {
  background-image: url(http://drinkkangen.de/images/pizz.png);
  background-position: center;
  text-align: center;
  text-shadow: black 0 0px 10px;
  color: #def7e6;
}
#meat-toppings {
  font-size: 15px;
  color:#b1c2ed
}
#veg-toppings {
  font-size: 15px;
  color:#b1c2ed
}
#form-div {
  display: none;
}
#continueOrder {
  display: none;
}
#show-order {
  display: none;
}
